body{background-color: aquamarine;}
body{border:3px solid olive)}
body{height: 80%; margin-left: 1%; margin-right: 1%; margin-bottom: 1%; margin-top: 3%;}
h1{background-color:olive;}
h1{margin-top: 2%; margin-bottom: 2%;}
h1{text-align: center;}
h1{color: white;}
img{border:3px solid olive; margin-right: 1%; margin-left: 1%; margin-top: 1%; margin-bottom: 1%;}
